/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     F     |
            bindings = <
                &kp F
            >;
        };
    };
 };