config CONFIG_ZMK_MXT112S_POINTER
    bool "Enable mXT112S Touchscreen Pointer Support"
    default y
    depends on I2C
    help
      Enables pointer support for the mXT112S touchscreen controller.
