#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer { // Layer 0
            bindings = <
            &trans      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS       &kp EQUAL           &mo 1            &kp BSPC 
            &trans      &kp Y       &kp U       &kp I       &kp O       &kp P           &kp LBKT            &kp RBKT            &kp BACKSLASH  
            &trans      &trans      &kp H       &kp J       &kp K       &kp L           &kp SEMICOLON       &kp SINGLE_QUOTE    &kp ENTER  
            &trans      &trans      &kp B      &kp N       &kp M       &kp COMMA       &kp PERIOD          &kp UP              &kp RSHIFT 
            &kp SPACE   &trans      &trans      &kp RALT    &kp RWIN    &kp LEFT        &kp DOWN            &kp RIGHT           &kp SLASH
            >;
        };
        fn_layer { // Layer 1
            display-name = "Fn";
            bindings = <
                &trans      &kp F1       &kp F2       &kp F3         &kp F4       &kp F5 &kp F6                  &kp F7          &kp F8  
                &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2   &bt BT_SEL 3 &trans &trans                  &kp UNDERSCORE  &kp N7  
                &trans      &trans       &trans       &trans         &trans       &trans &trans                  &kp UNDERSCORE  &kp N4  
                &trans      &trans       &trans       &trans         &trans       &trans &trans                  &kp MINUS       &kp N0  
                &bt BT_CLR_ALL	      &trans       &trans       &trans         &trans       &trans &trans                  &trans          &trans  
            >;
        };
    };
 };
